<form (submit)="onSubmit($event)">
  <div class="blog-input">
    @if (state().error) {
    <div class="error-message" color="warn">
      Oups, der Blog konnte nicht gespeichert werden. Bitte versuchen Sie es
      später nochmals.
    </div>
    }
    <button
      type="submit"
      class="submit-button"
      mat-flat-button
      [disabled]="submitButtonDisabled()"
      color="primary"
    >
      Publish blog
    </button>
    <button
      type="button"
      mat-raised-button
      color="secondary"
      (click)="onReset()"
    >
      Reset
    </button>
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput [formField]="blogForm.title" />
      <mat-error>
        @for (error of blogForm.title().errors(); track error.kind) {
        <span>{{ error.message }}</span>
        }
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Tell your story...</mat-label>
      <textarea matInput rows="20" [formField]="blogForm.content"></textarea>
      <mat-error>
        @for (error of blogForm.content().errors(); track error.kind) {
        <span>{{ error.message }}</span>
        }
      </mat-error>
    </mat-form-field>
  </div>
</form>
