name: Angular Build and Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Install dependencies and build Angular app
        run: |
          bun install --frozen-lockfile
          bun run build -- --base-href /blogapp-20/

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@6c2d9db40f9296374acc17b90404b6e8864128c8 # v4
        with:
          folder: dist/blogapp-20/browser
          branch: prod
          token: ${{ secrets.GITHUB_TOKEN }}
